doctype html
<!--[if IE 8]>html(class="ie8" lang = meta.lang)<![endif]-->
<!--[if IE 9]>html(class="ie9" lang = meta.lang)<![endif]--><![endif]-->
<!--[if !IE]><!-->
html(lang = meta.lang)<!--<![endif]-->
  head(prefix="og: http://ogp.me/ns#  article: http://ogp.me/ns/article#")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title: = meta.title
    meta(name='description', content=meta.description)
    meta(name='keywords', content=meta.keywords)
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    // OGP
    meta(property='og:title', content=meta.title)
    meta(property='og:description', content=meta.description)
    meta(property='og:site_name', content=meta.sitename)
    meta(property='og:type', content='article')
    meta(property='og:image', content=meta.ogimg)
    meta(property='og:url', content=meta.ogurl)
    // Modernizr
    script(type='text/javascript', src=files.js.modernizr)
    // Style
    link(rel='stylesheet', href=files.css)
body
  h1 hello world
  //Script
  script(type='text/javascript', src=files.js.main)